@import url(https://fonts.googleapis.com/css?family=Arvo);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.well {
	word-wrap: break-word;
}

body {     
	font-size: 16px;
	font-weight: 300;
}																 			

#reviewStars {
	float: left;
}
	

#commentSpace {
	display: inline;
	margin-right: 5px;
}

#thumbdn {
	display: inline;
	margin-left: 5px;
}

.form-control {
	max-width: 300px;
}

#starAverage {
	display: inline;
	color: white;
}

#othrMessage {
	display: inline;
}

#averageMessage {
	display: inline;
	text-align: right;
	margin-left: 680px;
}

.spacing {
	margin-bottom: 10px;
}

#label {
	margin-top: 10px;
}

.resizable(@direction: both) {
  resize: @direction;
  overflow: auto;
}

#space {
	margin-bottom: 10px;
}

#list {
	margin-top: 5px;
}

#credits {
	padding-top: 3px;	
}

#header {
		font-family:Arvo, 'Helvetica Neue', Helvetica, sans-serif;
		background-image: url(../img/3header.jpg);
		background-repeat: no-repeat;
		min-height: 550px;
}

button {
	margin-bottom: 10px;

}

form {
	color: white;
}


#footer {
	background-color: black;	
}

#body {
	font-family:Inconsolata, 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(../img/background3.jpg);
	background-repeat: no-repeat;
}

