#reviewStars {
	float: left;
}
	

#commentSpace {
	display: inline;
	margin-right: 5px;
}

#thumbdn {
	display: inline;
	margin-left: 5px;
}

.form-control {
	max-width: 300px;
}

#starAverage {
	display: inline;
}

#othrMessage {
	display: inline;
}

#averageMessage {
	display: inline;
	text-align: right;
	margin-left: 700px;
}

.spacing {
	margin-bottom: 10px;
}

#label {
	margin-top: 10px;
}

.resizable(@direction: both) {
  resize: @direction;
  overflow: auto;
}

#space {
	margin-bottom: 10px;
}

#list {
	margin-top: 5px;
}

#header {
		background-image: url(../img/3header.jpg);
		background-repeat: no-repeat;
		min-height: 550px;
}

button {
	margin-bottom: 10px;

}

form {
	color: white;
}

body {
	font-family:Lato, 'Helvetica Neue', Helvetica, sans-serif;       
	font-size: 16px;
	font-weight: 300;
	background-color: #E9EAEE;
}																 			

h1, h2, h3,
h4, h5, h6 {
	font-family:Raleway, 'Helvetica Neue', Helvetica, sans-serif;
}